<header class="bg-light py-3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1>Josthin Ayon</h1><br>
          <h2>Desarrollador de Software</h2>
          <p><i class="bi bi-geo-alt"></i>  Guayaquil, Ecuador</p>
          <p><i class="bi bi-envelope"></i> <a href="mailto:josthinayon@gmail.com">  josthinayon@gmail.com</a></p>
          <p><i class="bi bi-phone"></i> +593-978965401</p>
          <p><i class="bi bi-linkedin"></i><a target="_blank" href="https://www.linkedin.com/in/josthin-ayon/">  Linkedin</a></p>
          <p><i class="bi bi-github"></i><a target="_blank" href="https://github.com/JosthinAyonC">  Linkedin</a></p>
        </div>
        <div class="col-md-6 text-md-end">
          <img src="../assets/img/a.jpg" alt="Imagen de perfil" width="200">
        </div>
      </div>
    </div>
  </header>
